/* ── GLOBAL ── */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

/* HEADER (General)*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
}

main {
    margin-top: 70px;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 16px;
    margin-top: 60px;
    padding: 16px;
}

.tarjeta-nav:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
    position: sticky;
    top: 76px;
    align-self: start;
}

.tarjeta-nav:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1;
    position: sticky;
    top: 76px;
    align-self: start;
}

.publicacion {
    grid-column: 2;
}

/* HEADER (Interno) */
.headerIzquierdo a, .headerCentral, .headerDerecho {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerIzquierdo a span {
    font-weight: bold;
    font-size: 2rem;
}

/* HEADER (Imagenes) */
.headerIzquierdo img,
.headerDerecho img {
    width: 3rem;
}

/* HEADER (central) */
.headerCentral ul {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header .headerIzquierdo a, header .headerCentral a, header .headerDerecho a{
    text-decoration: none;
    color: inherit;
}
